@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  background-color: #013369;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  color: white;
  border-radius: 10px;
}
label img {
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: calc(100% - 4rem);
  padding: 1rem;
}

h1, p, h2 {
  margin: 2rem auto 1rem;
  text-align: center;
  color: white;
}
input {
  padding: .8rem;
  margin: 1rem 0 3rem;
  border-radius: 10px;
  border: white 1px solid;
  outline: white;
  background-color: rgba(255, 255, 255, 0.281);
}
input:focus {
  background-color: rgb(255, 255, 255);
}
button {
  padding: 1rem;
  margin: 1rem 0 0;
  background-color: yellow;
  border-radius: 10px;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
button svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

input[type=radio] + label {
  opacity: 0.5;
}
input[type=radio]:checked + label{
  opacity: 1;
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.5);
}
.match {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1rem 0;
}
.vs {
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
  color: white;
}
.summaryPage img {
  width: 100%;
  border-radius: 5px;
}
.summaryPage {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.summaryMatch {
  display: flex;
  width: 50%;
  gap: .2rem;
  text-align: center;
}
.row6 {
  display: grid;
  gap: .7rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5rem auto;
}
.row4 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: .5rem auto;
}
.row2 {
  justify-self: center;
  width: 60%;
  margin: 1rem auto;
}
.superbowl {
  /* display: flex; */
  /* justify-content: center; */
  width: 80%;
  margin: 1rem auto;
  position: relative;
}
.afc {
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
  fill: yellow;
}
.nfc {
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
  fill: yellow;
}
a {
  text-decoration: none;
  color: black;
}